* {
  padding: 0;
  margin: 0;
  color: var(--text);
  transition: background-color .5s ease, color .5s ease, background .5s ease;
}

:root {
  --bg: hsl(50, 100%, 90%);
  --bgdark: hsl(30, 100%, 65%);
  --bggrad: linear-gradient(hsl(30, 100%, 65%), hsl(30, 100%, 58%));
  --but: hsl(50, 100%, 75%);
  --butgrad: linear-gradient(hsl(50, 100%, 75%), hsl(50, 100%, 69%));
  --text: hsl(0, 0%, 0%, .9);
  --inverter: invert(0);
  --shadow: hsl(30, 100%, 30%, .15);
  --card: hsl(60, 100%, 80%);
}

:root[data-theme='dark'] {
  --bg: hsl(45, 0%, 10%);
  --bgdark: hsl(30, 0%, 5%);
  --bggrad: linear-gradient(hsl(30, 0%, 7%), hsl(30, 0%, 5%));
  --but: hsl(50, 0%, 15%);
  --butgrad: linear-gradient(hsl(50, 0%, 10%), hsl(50, 0%, 5%));
  --text: hsl(0, 0%, 95%, .9);
  --inverter: invert(1);
  --shadow: hsl(30, 10%, 50%, .08);
  --card: hsl(45, 0%, 7%);
}

html {
  height: 100%;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  display: block;
  position: sticky;
  padding: 1% 1% 2%;
  background-color: var(--bgdark);
  background: var(--bggrad);
  box-shadow: 0 10px 20px var(--shadow);
}

header p {
  color: var(--text);
}

#themeb {
  background-image: url('../day-and-night.png');
  background-color: var(--but);
  filter: var(--inverter);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  margin-right: 1%;
  padding: 1%;
  float: right;
}

#menub {
  transition: filter .5s ease, opacity .2s ease;
  background: transparent;
  background-image: url('../Hamburger_icon.svg.png');
  filter: var(--inverter);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  margin-right: 1%;
  padding: 1.5%;
  box-shadow: 0 0 0 0;
}

main {
  margin: 2% 20%;
  flex-grow: 1;
}

h3 {
  margin: 2% .5%;
  font-size: 1.5rem;
}

.atividades {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.item {
  background-color: var(--card);
  padding: 2rem 3rem;
  border-radius: 16px;
  box-shadow: 0 5px 10px var(--shadow);
  line-break: anywhere;
}

.item p {
  font-size: 1.5rem;
}

.item img {
  margin: 5% 0 0;
}

.item:hover {
  transition: padding .2s ease;
  padding: 2.5rem 3.5rem;
}

.desc {
  margin: 0 .5% 1.5%;
}

#buttons {
  display: inline-flex;
  flex-wrap: wrap;
  max-width: 20rem;
  align-items: center;
}

button {
  transition: padding .2s ease, background-color .5s ease, color .5s ease;
  margin: 3px;
  border-radius: 12px;
  padding: 8px 12px;
  border: none;
  background-color: var(--but);
  background: var(--butgrad);
  color: var(--text);
  font-family: "Poppins", sans-serif;
  box-shadow: 0 5px 10px var(--shadow);
}

button:hover {
  transition: padding .2s ease, opacity .2s ease;
  opacity: 75%;
  padding: 12px 16px;
}

button:active {
  opacity: 45%;
}

.container {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
}

footer {
  display: block;
  padding: 1% 2% 3%;
  background-color: var(--bgdark);
  background: var(--bggrad);
  color: var(--text);
  box-shadow: 0 -10px 20px var(--shadow);
}

img {
  border-radius: 16px;
}